@charset "utf-8";

body {
  color: #666;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 10pt;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
a {
  text-decoration: none;
  color: #00a1cb;
}
a:hover {
  text-decoration: underline;
}
label {
  cursor: pointer;
}
p {
  margin: 0 0 15px 0;
}
p:last-child {
  margin-bottom: 0;
}
.full {
  width: 100%;
}
.center {
  text-align: center;
}
.color-primary {
  color: #00a1cb;
}
.color-caution {
  color: #e54028;
}
.color-highlight {
  color: #f18d05;
}
.color-action {
  color: #7db500;
}

ul#toolbar {
  height: 38px;
  position: fixed;
  z-index: 4000;
  top: 0;
  background: #333;
  right: 0;
  left: 0;
  overflow: hidden;
  border-bottom: solid 2px #00ADE6;
  margin: 0;
  padding: 0;
  font-size: 10pt;
  list-style: none;
}
ul#toolbar > li {
  float: left;
  height: 38px;
  border-left: 1px solid #444;
}
ul#toolbar > li:last-child {
  border-right: 1px solid #444;
}
ul#toolbar > li > a {
  display: block;
  height: 38px;
  border-right: 1px solid #222;
  text-decoration: none;
  color: #fff;
  line-height: 38px;
  padding: 0 10px;
  text-shadow: 0 1px 0 #000;
}
ul#toolbar > li.active > a,
ul#toolbar > li > a:hover {
  background: url(../img/bg-toolbar-hover.png);
}

#wrap,
#primary-navigation,
#main {
  padding-top: 38px;
}

#main {
  margin-left: 180px;
  padding: 20px;
  min-width: 500px;
}

#primary-navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  background: #f2f2f2;
  border-right: 1px solid #ddd;
}
#primary-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#primary-navigation > ul {
  border-bottom: 1px solid #ddd;
}
#primary-navigation ul a {
  display: block;
  transition: all 0.2s ease;
}
#primary-navigation ul a:hover {
  text-decoration: none;
}
#primary-navigation ul li.current {
}
#primary-navigation ul a > i {
  display: inline-block;
  margin-right: 5px;
}
#primary-navigation > ul > li > a {
  height: 34px;
  line-height: 34px;
  font-size: 11pt;
  padding-left: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #666;
  text-shadow: 0 1px 1px #fff;

  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
#primary-navigation > ul > li > a:hover,
#primary-navigation > ul > li.current > a {
  box-shadow: inset 0 5px 10px rgba(0,0,0,0.2);
}
#primary-navigation > ul > li > ul {
}
#primary-navigation > ul > li > ul > li > a {
  height: 32px;
  line-height: 32px;
  font-size: 10pt;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
}
#primary-navigation > ul > li > ul > li:last-child > a {
  border-bottom: none;
}
#primary-navigation > ul > li > ul > li > a {
  background: #fff;
}
#primary-navigation > ul > li > ul > li.current {
  background: #fff;
  width: 181px;
}
#primary-navigation > ul > li > ul > li.current > a {
  font-weight: bold;
  color: #666;
}
#primary-navigation > ul > li > ul > li.current > a,
#primary-navigation > ul > li > ul > li > a:hover {
  padding-left: 20px;
}

header.header-01 {
  margin-bottom: 20px;
}
header.header-01 > h1 {
  margin: 0;
  font-size: 13pt;
  border-bottom: 1px solid #ddd;
  padding: 0 0 7px 7px;
}
header.header-01 > h1 > i {
  margin-right: 5px;
}

div.box {
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
}
div.box > header {
  padding: 10px;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
div.box > header > h1 {
  margin: 0;
  font-size: 11pt;
  text-shadow: 0 1px 1px #fff;
}
div.box > div.inner {
  padding: 20px;
}

div.flash-message {
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px 20px;
  text-shadow: 0 1px 1px #fff;
}
div.flash-message.success {
  border-color: #c9edfa;
  background: #f4fcff;
  color: #27b4e9;
}
div.flash-message.error {
  border-color: #fac9c9;
  background: #fff4f4;
  color: #e92727;
}

div.spacer1 {
  height: 10px;
}
div.spacer2 {
  height: 20px;
}
div.spacer3 {
  height: 30px;
}

hr.hr-01 {
  border: none;
  height: 1px;
  background: #eee;
  margin: 0;
}

.form-01 {
}
.form-01 div.input {
  margin-bottom: 20px;
}
.form-01 div.input > label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}
.form-01 div.input > div.note {
  margin-left: 150px;
  font-style: italic;
  margin-top: 5px;
}
.form-01 div.input div.inlined {
  display: inline-block;
}
.form-01 div.input div.error-message {
  margin-left: 150px;
  font-style: italic;
  margin-top: 5px;
  color: #900;
  font-weight: bold;
}
.form-01 div.full div.error-message {
  margin-left: 0;
}
.form-01 div.input div.inlined div.error-message {
  margin-left: 0;
}
.form-01 input[type="text"],
.form-01 input[type="password"],
.form-01 input[type="number"],
.form-01 textarea {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  width: 300px;
}


/**
 * .table-01
 */
.table-01 {
  color: #555;
  border: 1px #ddd solid;
  border-bottom: none;
  border-radius: 2px;
  border-collapse: separate;
}
.table-01 td,
.table-01 th {
  padding: 10px;
}
.table-01 tr.check-tr td {
  background: #ecffe0 !important;
}
.table-01 th {
  background: #f3f3f3;
  border-top: 1px #fff solid;
  border-right: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  border-left: 1px #fff solid;
  font-weight: bold;
  vertical-align: top;
  padding-top: 13px;
}
.table-01 th:last-child {
  border-right: 0;
}
.table-01.list {
  width: 100%;
}
.table-01.list th {
  padding-top: 10px;
}
.table-01.list tr:hover td {
  background: #fffde0;
}
.table-01 th.no-border {
  border-right: none;
}
.table-01 .c {
  text-align: center;
}
.table-01 a {
}
.table-01 a.aline {
  display: inline;
}
.table-01 td {
  border-bottom: 1px #ddd solid;
  vertical-align: middle;
}
.table-01 div.error-message {
  color: #900;
  margin-top: 5px;
  font-size: 12px;
}
form.simple-form .table-01 td div.closure {
    margin-bottom: 10px;
}
form.simple-form .table-01 td div.closure:last-child {
    margin-bottom: 0;
}
table.check tr td.c {
  width: 1%;
}

ul.icon-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.icon-links > li {
}
ul.icon-links > li a {
  color: #128ab7;
}
ul.icon-links > li i {
  color: #999;
  width: 15px;
  display: inline-block;
  text-align: center;
  padding-right: 2px;
}
ul.icon-links > li a:hover i {
  text-decoration: none;
  color: #666;
}

/**
 * .bk-info
 */
.bk-info {
  overflow: hidden;
}
.bk-info .bk-info-left {
  float: left;
  color: #666;
}
.bk-info .bk-info-right {
  float: right;
}
.bk-info .bk-info-right .current, .bk-info .bk-info-right a {
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  margin-left: 5px;
  text-align: center;
  width: 24px;
}
.bk-info .bk-info-right .current {
  color: #999999;
}
.bk-info .bk-info-right a {
  background: url('../img/btn-bg.png') no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  text-decoration: none;
}
.bk-info .bk-info-right a:hover {
  text-decoration: underline;
}

/**
 * .filter
 */
.filter {
  background: #eee url(../img/filter-bg.png) top repeat-x;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 1px 0 0px #fff inset, -1px 0 0px #fff inset, 0px -1px 0px #fff inset;
  padding: 10px;
}
.filter table {
  border-collapse: separate;
}
.filter table th,
.filter table td {
  font-size: 12px;
  color: #555;
  vertical-align: middle;
  height: 36px;
}
.filter table th {
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  text-align: right;
  background: url(../img/solid-border.png) right center no-repeat;
}
.filter table td {
  padding: 5px 15px 5px 10px;
}
.filter table input[type=text] {
  width: 100px !important;
}
.filter div.input {
  margin-bottom: 0;
}

em.em-01 {
  color: #f00;
}


















