@charset "utf-8";

.bk-general {
  font-size: 9pt;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  line-height: 150%;
}
.bk-general a {
  color: #333;
  text-decoration: underline;
}
.bk-general a:hover {
  color: #00ADE6;
}
.bk-general a i {
  text-decoration: none !important;
}
.bk-general input[type=text],
.bk-general input[type=number],
.bk-general input[type=password],
.bk-general textarea {
  color: #666;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: inset 0 0 10px #eee;
}
.bk-general ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bk-general .button {
  text-decoration: none;
  color: #fff;
}
.bk-general .button:hover {
  color: #fff;
}

div.bk-block {
  margin-bottom: 15px;
}

div.spacer1 {
  height: 10px;
}
div.spacer2 {
  height: 20px;
}
div.spacer3 {
  height: 30px;
}

div.fancybox-inner {
  text-align: left;
}

div.bk-note-01 {
  text-align: center;
  padding: 10px;
}

form.bk-form-01 {
}
form.bk-form-01 div.input > label {
  display: block;
}
form.bk-form-01 div.input {
  margin-bottom: 20px;
}

#comment-editor {
  width: 320px;
  height: 300px;
}
#comment-editor #CommentName,
#comment-editor #CommentBody {
  width: 300px;
}
#comment-editor #CommentBody {
  height: 160px;
}

#comment-sent {
}
#comment-sent div.closer {
  margin-top: 20px;
  height: 30px;
}

#bk-sign-in-form input {
  min-width: 160px;
}








